.admin-home-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.admin-links-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.admin-link {
  padding: 1rem;
  margin: 1rem;
  background-color: $dark-gray;
  border-radius: 5px;
  cursor: pointer;
}
.admin-link {
  min-width: 150px;
  color: white;
  &:hover {
    background-color: black;
  }
  &:active {
    background-color: $maroon;
    color: greenyellow;
  }
}

.admin-cars-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.adminCarListTile {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem auto;
  padding: 0.75rem;
  background-color: $dark-gray;
  border-radius: 5px;
  min-width: 250px;
}

.reg-info {
  display: flex;
  flex-flow: row wrap;
}
