.admin-home-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.admin-links-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.admin-link {
  padding: 1rem;
  margin: 1rem;
  background-color: $dark-gray;
  border-radius: 5px;
  cursor: pointer;
}
.admin-link {
  min-width: 150px;
  color: white;
  &:hover {
    background-color: black;
  }
  &:active {
    background-color: $maroon;
    color: greenyellow;
  }
}

.adminCarListTile {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem auto;
  padding: 0.75rem;
  background-color: $dark-gray;
  border-radius: 5px;
  min-width: 250px;
}

.admin-cars-table {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.75rem;
  background-color: $dark-gray;
  border-radius: 5px;
  min-width: 250px;
}

table {
  border-collapse: collapse;
  vertical-align: middle;
  text-align: center;
}

th {
  border-bottom: 3px solid white;
  padding: 0.5rem 0.3rem;
}

td{
  border-bottom: 3px solid white;
  padding: 0.5rem 0.3rem;
}