@import "./colors";

.top-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: white;
  padding: 1.5rem;
  border-bottom: 5px solid $dark-gray;
}

.top-bar-left {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.top-bar-items {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.authenticated-list-items {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
}